body {
    padding-top: 100px ;
    font: 16px Aesthetic, sans-serif;
    background: #222121;
    color: #dedede;
    
    display: flex;
    justify-content: center;
    align-content: center;
}
.cc-container{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    border:#a2a0a0 1px solid;
    border-radius: 5px;
    padding: 5px;
    justify-items: center;
    align-items: center;
    
}
.cc-container form input[type=submit]{
    width: 100px;
    height: 30px;
    margin: 5px;
    border-radius: 10px;
    color: rgb(255 255 255);
	text-align: center;
	border-radius: 4px;
	background-color: #419152;
	align-self: end;
	justify-self: end;
}
.upload-form{
	width:100%;
	display: flex;
	justify-content: center;
	margin: 10px;
	
}
.upload-form *{
	margin: 5px;
}
.column{
	flex-direction: column;
}
input{
	border-width: 0;
}
label{
	transition: all 0.3s;
}
.radio-group label:hover{
	color: #a2a0a0;
}
.upload-form button {
    height : 40px;
    text-align: center;
	border-radius: 4px;
	background-color: antiquewhite;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	transition: background-color 0.2s;
    vertical-align: middle;
}
button:hover{
	background-color: rgb(209, 196, 180);
}
.input-file {
	position: relative;
	display: inline-block;
    
}
.input-file span {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 4px;
	background-color: #419152;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
 
/* Focus */
.input-file input[type=file]:focus + span {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
 
/* Hover/active */
.input-file:hover span {
	background-color: #59be6e;
}
.input-file:active span {
	background-color: #2E703A;
}
 
/* Disabled */
.input-file input[type=file]:disabled + span {
	background-color: #eee;
}
.radio-group{
	display: flex;
	flex-direction: column;
	border-left: 1px solid;
}
.text-group input{
	height: 20px;
	width: 100px;
	border-radius: 5px;
	background-color: antiquewhite;
	color:#222121;
	transition: all 0.2s;
}
.text-group input:hover{
	background-color: rgb(203, 193, 180);
}
.title h1{
	border-bottom: 1px solid white;
}
.select-container{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	
}
.select-container span{
	padding: 2px;
	cursor: pointer;
	transition: all 0.2s;
}

.select-container span:hover{
	border-bottom: solid 1px;
	color:rgb(175, 175, 175);
}
.info-bd{
	border-radius: 5px;
	border: 1px solid;
	width:100%;
}
.info-bd span:last-child{
	color:#419152;
}
.disabled{
	display: none !important;
}
.selected-type{
	border-bottom: #2E703A 1px solid;
}

table {
	border-collapse: collapse;
	border: 2px solid rgb(140 140 140);
	font-family: sans-serif;
	font-size: 0.8rem;
	letter-spacing: 1px;
  }
  
  caption {
	caption-side: bottom;
	padding: 10px;
	font-weight: bold;
  }
  
  thead,
  tfoot {
	background-color: rgb(44, 45, 45);
  }
  
  th,
  td {
	border: 1px solid rgb(76, 76, 76);
	padding: 8px 10px;
  }
  
  td:last-of-type {
	text-align: center;
  }
  
  tbody > tr:nth-of-type(even) {
	background-color: rgb(76, 76, 76);
  }
  
  tfoot th {
	text-align: right;
  }
  
  tfoot td {
	font-weight: bold;
  }

.wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.subtitle{
	font-weight: 700;
	font-size: larger;
}
.plots  img{
	max-width: 500px;
}
.plots *{
	margin-top: 10px;
}
.err-msg{
	color: rgb(182, 3, 3);
}